@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?9ughs7");
  src: url("../fonts/icomoon.eot?9ughs7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?9ughs7") format("truetype"), url("../fonts/icomoon.woff?9ughs7") format("woff"), url("../fonts/icomoon.svg?9ughs7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e900";
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}

.icon-keyboard_arrow_left:before {
  content: "\e902";
}

.icon-keyboard_arrow_up:before {
  content: "\e903";
}

.icon-navigate_next:before {
  content: "\e904";
}

.icon-person:before {
  content: "\e906";
}

.icon-info:before {
  content: "\e907";
}

.icon-trending_up:before {
  content: "\e908";
}

.icon-business_center:before {
  content: "\e909";
}

.icon-add_business:before {
  content: "\e90a";
}

.icon-architecture:before {
  content: "\e90b";
}

.icon-connect_without_contact:before {
  content: "\e90d";
}

.icon-github:before {
  content: "\e90e";
}

.icon-steam:before {
  content: "\e90f";
}

.icon-youtube:before {
  content: "\e910";
}

.icon-medal:before {
  content: "\e911";
}

.icon-education:before {
  content: "\e905";
}

.icon-group:before {
  content: "\e90c";
}

.icon-users:before {
  content: "\e90c";
}

.icon-display:before {
  content: "\e956";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-embed2:before {
  content: "\ea80";
}

body {
  background-color: gray;
  margin: 0px;
  font-family: "Space Grotesk", serif;
  color: #ffebd1;
  background-image: url(../image/stars.jpg);
  background-position: center;
  background-attachment: fixed;
  letter-spacing: 0.4px;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}
@media (max-width: 992px) {
  .container {
    max-width: 564px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 822px;
  }
}
@media (min-width: 1380px) {
  .container {
    width: 1138px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
a[class=link]:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin-block-end: 0px;
}

header h1 {
  margin: 0px;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 120px;
  }
}

.sidebar {
  display: none;
  width: 120px;
  height: 100vh;
  background-color: #1E0302;
  position: fixed;
}
.sidebar a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 15px;
}
.sidebar a:hover {
  background-color: rgb(77.8125, 7.78125, 5.1875);
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../image/space.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom: 3px solid #1E0302;
  box-shadow: 0px 0px 400px 100px rgba(255, 235, 209, 0.25);
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(300px, auto);
  gap: 40px;
  padding-top: 60px;
}
.projects .project-thumbnail {
  display: block;
  border-radius: 5px;
  transition: transform 0.5s ease;
  border: 1px solid #ccc;
}
.projects .project-thumbnail:hover {
  transform: translateY(-10px);
}
@media (min-width: 992px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-box {
  flex-grow: 1;
}
@media (min-width: 1380px) {
  .contact-box-names {
    display: flex;
  }
}
@media (min-width: 992px) {
  .contact-box {
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .contact {
    display: flex;
  }
}

form input {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.scs-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 60px;
}
.scs-grid-container h2 {
  margin: 0px;
  text-align: center;
}
.scs-grid-container p, .scs-grid-container li {
  font-size: 1.125rem;
}
@media (min-width: 1380px) {
  .scs-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
.scs-item {
  background-color: #1E0302;
  border-radius: 10px;
  padding: 25px;
}

/*# sourceMappingURL=style.css.map */
