@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

input {
  appearance: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?4v8ers");
  src: url("../fonts/icomoon.eot?4v8ers#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4v8ers") format("truetype"), url("../fonts/icomoon.woff?4v8ers") format("woff"), url("../fonts/icomoon.svg?4v8ers#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cube:before {
  content: "\e914";
}

.icon-ruler:before {
  content: "\e913";
}

.icon-medal:before {
  content: "\e911";
}

.icon-call:before {
  content: "\e900";
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}

.icon-keyboard_arrow_left:before {
  content: "\e902";
}

.icon-keyboard_arrow_up:before {
  content: "\e903";
}

.icon-navigate_next:before {
  content: "\e904";
}

.icon-folder_special:before {
  content: "\e912";
}

.icon-person:before {
  content: "\e906";
}

.icon-info:before {
  content: "\e907";
}

.icon-trending_up:before {
  content: "\e908";
}

.icon-business_center:before {
  content: "\e909";
}

.icon-add_business:before {
  content: "\e90a";
}

.icon-architecture:before {
  content: "\e90b";
}

.icon-connect_without_contact:before {
  content: "\e90d";
}

.icon-blender:before {
  content: "\e915";
  color: #f5792a;
}

.icon-css3:before {
  content: "\e916";
  color: #1572b6;
}

.icon-discord:before {
  content: "\e917";
}

.icon-github:before {
  content: "\e90e";
}

.icon-html5:before {
  content: "\e918";
  color: #e34f26;
}

.icon-javascript:before {
  content: "\e919";
  color: #f7df1e;
}

.icon-php:before {
  content: "\e91a";
  color: #777bb4;
}

.icon-python:before {
  content: "\e91b";
  color: #3776ab;
}

.icon-sass:before {
  content: "\e91c";
  color: #c69;
}

.icon-steam:before {
  content: "\e90f";
}

.icon-youtube:before {
  content: "\e910";
}

.icon-education:before {
  content: "\e905";
}

.icon-group:before {
  content: "\e90c";
}

.icon-users:before {
  content: "\e90c";
}

.icon-display:before {
  content: "\e956";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-embed2:before {
  content: "\ea80";
}

.hero-image, .main-link .center, .initials-link .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image, .scs-item, .contact, .project-thumbnail, .about-me {
  box-shadow: 0px 0px 80px 0px rgba(190, 159, 159, 0.25);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.hero-image:hover, .scs-item:hover, .contact:hover, .project-thumbnail:hover, .about-me:hover {
  background-color: rgba(26, 2, 2, 0.85);
  box-shadow: 0px 0px 80px 0px rgba(190, 159, 159, 0.5);
}

.scs-item, .contact, .project-thumbnail, .about-me {
  background-color: rgba(26, 2, 2, 0.7);
  border-radius: 10px;
  padding: 25px;
  border: 1px solid rgb(190, 159, 159);
}

.hero-image h1, .hero-image p {
  text-shadow: 0px 0px 16px rgba(190, 159, 159, 0.25);
  transition: text-shadow 0.5s ease;
}
.hero-image h1:hover, .hero-image p:hover {
  text-shadow: 0px 0px 16px rgba(190, 159, 159, 0.5);
}

.main-link .center::after, .initials-link span::after, .seamless-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: rgba(190, 159, 159, 0.75);
  transition: transform 0.2s ease;
}
.main-link .center:hover::after, .initials-link span:hover::after, .seamless-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: gray;
  margin: 0px;
  font-family: "Space Grotesk", serif;
  color: rgb(190, 159, 159);
  background-image: url(../image/stars.jpg);
  background-position: center;
  background-attachment: fixed;
  letter-spacing: 0.4px;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
  max-width: 564px;
}
@media (min-width: 1410px) {
  .container {
    max-width: none;
    width: 1138px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.section-header h1 {
  margin: 0px;
  padding-top: 60px;
}

footer p {
  text-align: center;
}

p {
  line-height: 30px;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 54px;
  padding-inline: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(190, 159, 159);
  transition: all 0.4s;
}
.button:hover {
  background-color: rgb(204.4130434783, 180.2869565217, 180.2869565217);
}
.button .scale {
  transition: all 0.2s;
}
.button:hover .scale {
  transform: scale(0.9);
  opacity: 0.75;
}

.seamless-link {
  font-weight: bold;
  color: rgb(210.5900621118, 189.4099378882, 189.4099378882);
  position: relative;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 220px;
  }
}

.sidebar {
  display: none;
  width: 220px;
  height: 100vh;
  background-color: rgb(26, 2, 2);
  position: fixed;
  border-right: 1px solid rgb(190, 159, 159);
  box-shadow: 0px 0px 80px 0px rgba(190, 159, 159, 0);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.sidebar:hover {
  box-shadow: 0px 0px 80px 0px rgba(190, 159, 159, 0.5);
}
@media (min-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.main-link {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-block: 15px;
}
.main-link .center {
  position: relative;
  font-size: 1.125rem;
  transition: all 0.2s;
}

.initials-link .center {
  margin-block: 40px;
}
.initials-link span {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
}

.nav-divider {
  border-color: rgb(190, 159, 159);
}

.socials {
  display: flex;
  justify-content: center;
  margin-block: 25px;
  font-size: 1.5rem;
}
.socials [class^=icon-] {
  display: block;
  margin-inline: 10px;
}
.socials [class$=github] {
  transition: color 0.5s ease;
}
.socials [class$=github]:hover {
  color: #2B3034;
}
.socials [class$=steam] {
  transition: color 0.5s ease;
}
.socials [class$=steam]:hover {
  color: #153D72;
}
.socials [class$=youtube] {
  transition: color 0.5s ease;
}
.socials [class$=youtube]:hover {
  color: #f00;
}
.socials [class$=discord] {
  transition: color 0.5s ease;
}
.socials [class$=discord]:hover {
  color: #7289da;
}

.hero-image {
  flex-direction: column;
  background-image: url("../image/space.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom: 1px solid rgb(190, 159, 159);
}
.about-me {
  margin-top: 60px;
}
.about-me p {
  font-size: 1.125rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  gap: 40px;
  padding-top: 60px;
}
@media (min-width: 1410px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

.project-thumbnail {
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  color: rgb(26, 2, 2);
  transition: all 0.5s ease;
  padding: 0px;
}
.project-thumbnail img {
  filter: blur(0px) brightness(75%);
  transition: filter 0.2s ease;
}
.project-thumbnail h3 {
  margin: 0px;
  position: absolute;
  top: 20px;
  padding: 5px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(190, 159, 159);
}
.project-thumbnail .view-more {
  display: none;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
  margin-bottom: 40px;
}
.project-thumbnail:hover {
  transform: translateY(-5px);
}
.project-thumbnail:hover img {
  filter: blur(2px) brightness(35%);
}
.project-thumbnail:hover .view-more {
  display: flex;
}

#nm-project-img {
  position: absolute;
  width: 90%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.contact {
  margin-block: 60px;
  font-size: 1.125rem;
}
.contact-info {
  flex: 1;
}
@media (min-width: 1410px) {
  .contact-box-names {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
  }
}
@media (min-width: 1410px) {
  .contact-box {
    padding-left: 25px;
    flex: 0 1 75%;
  }
}
@media (min-width: 1410px) {
  .contact {
    display: flex;
  }
}
.contact .phone-number, .contact .email-address {
  font-size: 1.375rem;
  font-weight: bold;
}

input, textarea {
  display: block;
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgb(26, 2, 2);
  border: 1px solid rgb(190, 159, 159);
  color: rgb(190, 159, 159);
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #be9f9f;
}
input::placeholder, textarea::placeholder {
  color: rgba(190, 159, 159, 0.4);
}

textarea {
  resize: vertical;
}

.scs-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 60px;
}
.scs-grid-container h2 {
  margin: 0px;
  text-align: center;
}
.scs-grid-container p, .scs-grid-container li {
  font-size: 1.125rem;
}
@media (min-width: 1410px) {
  .scs-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
