@use "sass:color";

// Break Points

$break-point-x-small: 612px;
$break-point-small  : 768px;
$break-point-medium : 992px;
$break-point-large  : 1410px;

// Colors

$color-light    : hsl(0 0% 85%);
$color-link     : hsl(300 100% 70%) ;
$color-dark     : hsl(0 0% 5.9%);


$socials: (
    "github"    : #2B3034,
    "steam"     : #153D72,
    "youtube"   : #f00,
    "discord"   : #7289da,
);

$code-language-color: (
    "html5"         : #e34f26,
    "blender"       : #f5792a,
    "c-sharp"       : #953DAC,
    "css3"          : #1572b6,
    "javascript"    : #f7df1e,
    "php"           : #777bb4,
    "python"        : #3776ab,
    "sass"          : #c69,
    "mysql"         : #4479a1,
    "tailwindcss"   : #38b2ac,
    "react"         : #61dafb,
    "laravel"       : #ff2d20,
    "jquery"        : #0769ad,
);

// Variables

$nav-width      : 220px;

$border-style           : 1px solid color.adjust($color-light, $lightness: -60%);
$border-style-hovered   : 1px solid $color-light;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');