// Break Points

$break-point-x-small: 612px;
$break-point-small: 768px;
$break-point-medium: 992px;
$break-point-large: 1380px;

// Colors

$color-light-theme: (
    "light-1": #FEC89A,
    "light-2": #F9DCC4,
    "light-3": #F8EDEB,
    "light-4": #FCD5CE,
    "light-5": #FFB5A7,
);

$color-dark-theme: (
    "dark-1": #161C36,
    "dark-2": #6B2468,
    "dark-3": #420B12,
    "dark-4": #1E0302,
    "dark-5": #0A0001,
);

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
