@use "sass:color";
@use "config" as variable;

@mixin nav-socials() {
    @each $name, $color in variable.$socials {
        [class$=#{$name}] {
            transition: color 0.5s ease;

            &:hover {
                color: $color;
            }
        }
    }
}

@mixin coding-language-color-hover() {
    @each $name, $color in variable.$code-language-color {
        [class$=#{$name}] {
            transition: color 0.2s ease;

            &:hover {
                color: $color;
            }
        }
    }
}

@mixin light-border($side: null) {
    @if $side != null {
        border-#{$side}: variable.$border-style;
        transition: all 2s ease;

        &:hover {
            border-#{$side}: variable.$border-style-hovered;
        }
    } 
    @else {
        border: variable.$border-style;
        transition: all 2s ease;

        &:hover {
            border: variable.$border-style-hovered;
        }
    }
}