@use "config" as variable;

@mixin nav-socials() {
    @each $name, $color in variable.$socials {
        [class$=#{$name}] {
            transition: color 0.5s ease;

            &:hover {
                color: $color;
            }
        }
    }
}

@mixin coding-language-color-hover() {
    @each $name, $color in variable.$code-language-color {
        [class$=#{$name}] {
            transition: color 0.2s ease;

            &:hover {
                color: $color;
            }
        }
    }
}