@use "../utilities/index" as variable;

.about-me {
    @extend %content-background;
    @include variable.light-border();

    p {
        font-size: 1.125rem;
    }

    .top-inset-responsive {
        @media (min-width: variable.$break-point-large) {
            margin-top: 0px;
        }
    }

    @media (min-width: variable.$break-point-large) {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

.my-experience {
    @extend %hover-icons;

    .coding-icons {
        margin-top: 40px;
    }
}