@use "sass:map";
@use "../utilities/index" as variable;

.hero-image {
    @extend %flex-center;
    flex-direction: column;
    background-image: url("../image/space.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    @extend %content-background-base;
    @include variable.light-border("bottom");

    h1, p {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        @extend %text-background-base;
    }

    h1 {
        font-size: 3.5rem;
    }
}