@use "sass:map";
@use "../utilities/index" as variable;

.hero-image {
    @extend %flex-center;
    flex-direction: column;
    background-image: url("../image/space.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 1px solid variable.$color-light;
    @extend %content-background-base;

    h1, p {
        @extend %text-background-base;
    }
}