@use "../utilities/index" as variable;

// positioning of the icons buttons

.examples-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding-bottom: 60px;

    .language-info {
        flex: 1 1 100px; /* grow, shrink, base width */
        max-width: 150px;

        [class^="icon-"] {
            font-size: 4rem;
        }

        @include variable.coding-language-color-hover() {
            cursor: pointer;
        }
        
        @extend %icon-tooltip;
    }
}

// layout of the examples and the content within

.coding-examples {
    .content {
        transition: all 2s ease;
        @extend %content-background;
        @include variable.light-border();

        .code {
            margin-top: 16px;
        }

        pre {
            border-radius: 5px;
        }

        p {
            font-size: 1.125rem;
        }
    }
}