@use "sass:map";
@use "sass:color";
@use "../utilities/index" as variable;

.contact {
    @extend %content-background;
    @include variable.light-border();
    
    font-size: 1.125rem;
    
    &-info {
        flex: 1
    }

    &-box {

        &-names {
            @media(min-width: variable.$break-point-large) {
                display: grid;
                grid-auto-flow: column;
                gap: 40px;
            }
        }

        @media(min-width: variable.$break-point-large) {
            padding-left: 25px;
            flex: 0 1 75%;
        }
    }

    @media(min-width: variable.$break-point-large) {
        display: flex;
    }

    .phone-number, .email-address {
        font-size: 1.375rem;
        font-weight: bold;
    }

    .top-inset-item-breakpoint {
        @media (min-width: variable.$break-point-large) {
            margin-top: 0px;
        }
    }

}

.feedback-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 9, 9);
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 1.125rem;

    p {
        margin: 0;
        padding-left: 25px;
    }
    
    span {
        padding: 20px;
        display: block;
        height: 100%;
        cursor: pointer;
    }

    &.sent {
        background-color: rgb(6, 87, 6);
    }
}

.message-box {
    display: flex;
    margin-top: 30px;

    textarea {
        @extend %input-text-box;
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        resize: vertical;

        
    }

    button {
        width: 70px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: variable.$border-style;
        background-color: variable.$color-dark;
        transition: box-shadow, 0.5s ease, background-color 0.5s ease;
        cursor: pointer;
        
        [class^="icon-"] {
            display: inline-block;
            color: variable.$color-light;
            font-size: 2rem;
            transition: color 0.5s ease;
        }

        &:hover {
            background-color: variable.$color-link;
            box-shadow: 0 0 8px variable.$color-light;
        }
    }
}

input {
    @extend %input-text-box;
    margin-top: 30px;
}