@use "sass:color";
@use "sass:map";
@use "../utilities/index" as variable;

// shove everything to the right of nav bar

.main-content {
    @media(min-width: variable.$break-point-small) {
        margin-left: 120px;
    }
}

// nav bar

.sidebar {
    display: none;
    width: 120px;
    height: 100vh;
    background-color: map.get(variable.$color-dark-theme, "dark-4");
    position: fixed;

    .initials{
        font-size: 3rem;
    }

    a {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 120px;
        padding: 15px;
        margin-bottom:10px;
        border-radius: 10px;

        [class^="icon-"] {
            font-size: 2rem
        }

        

        .text {
            font-size: 1.125rem;
            margin-top: 10px;
        }

        &:hover {
            background-color: color.adjust(map.get(variable.$color-dark-theme, "dark-4"), $lightness: 5%);
            box-shadow: 
            0px 0px 20px 0px rgba(map.get(variable.$color-light-theme, "light-3"), 0.25) inset,
            0px 0px 20px 0px rgba(map.get(variable.$color-light-theme, "light-3"), 0.25);
        }
    }

    @media (min-width: variable.$break-point-small) {
        display: flex;
        flex-direction: column;
    }
}