@use "sass:color";
@use "sass:map";
@use "../utilities/index" as variable;

// shove everything to the right of nav bar

.main-content {
    @media(min-width: variable.$break-point-medium) {
        margin-left: variable.$nav-width;
    }
}

// nav bar
//initials and layout of sidebar

.sidebar {
    display: none;
    width: variable.$nav-width;
    height: 100vh;
    background-color: variable.$color-dark;
    position: fixed;
    border-right: 1px solid variable.$color-light;
    box-shadow: 0px 0px 80px 0px rgba(variable.$color-light, 0);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
        
    &:hover {
        background-color: rgba(variable.$color-dark, .85);
        box-shadow: 0px 0px 80px 0px rgba(variable.$color-light, 0.5);
    }

    .initials{
        margin-bottom: 60px;

        span {
            font-size: 4rem;
            font-weight: bold;
        }
    }

    @media (min-width: variable.$break-point-medium) {
        display: flex;
        flex-direction: column;
    }
}

.main-link {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-block: 15px;

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 1.125rem;
        transition: all 0.2s;

        @extend %text-underline;
    }
}

.nav-divider {
    border-color: variable.$color-light;
}