@use "../utilities/index" as variable;

.nm-homepage {
    @extend %content-background;

    p {
        font-size: 1.125rem;
    }

    img{
        border-radius: 5px;
    }

    @media (min-width: variable.$break-point-large) {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}