@use "sass:map";
@use "../utilities/index" as variable;

.projects-work {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 40px;

    @media (min-width: variable.$break-point-large) {
        grid-template-columns: 1fr 1fr;
    }
}

.project-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: variable.$color-dark;
    padding: 0px;
    @extend %content-background;
    @include variable.light-border();
    transition: all 2s ease, transform 0.5s ease;

    img{
        filter: blur(0px) brightness(75%);
        transition: filter 0.2s ease;
    }

    .button {
        padding-inline: 20px;
    }

    .title {
        margin: 0px;
        position: absolute;
        left: 0px;
        top: 20px;
        padding: 5px 10px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: variable.$color-light;
        border: variable.$border-style;
        border-left: none;
    }

    .project-languages {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        color: variable.$color-light;
        padding: 60px 0px 10px 40px;

        [class^="icon-"] {
            font-size: 2.5rem;
            z-index: 1;
        }

        @include variable.coding-language-color-hover();
    }

    .view-more {
        display: none;
        justify-content: space-between;
        z-index: 1;
        flex-direction: column;
        height: 100%;
        padding: 80px 5px 15px;

        @media (min-width: variable.$break-point-x-small) {
            padding: 40px;
        }
    }
    
    &:hover {
        transform: translateY(-5px);

        img {
            filter: blur(2px) brightness(35%);
        }

        .project-languages {
            @media (min-width: variable.$break-point-x-small) {
                display: grid;
            }
        }

        .view-more {
            display: flex;
        }
    }

    @media (min-width: variable.$break-point-x-small) {
        justify-content: space-between;
    }
}

#nm-project-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}