@use "../utilities/index" as variable;

.project-details {
    @extend %content-background;
    @include variable.light-border;
}

.details {
    &-header {
        display: flex;
        justify-content: space-between;

        .button {
            width: 32px;
            height: 32px;
            color: variable.$color-dark;
        }
    }

    &-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media (min-width: variable.$break-point-large) {
            display: grid;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            margin-bottom: 10px;
        }

        p{
            font-size: 1.125rem;
            margin-top: 0;
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-block: 20px;

            & > *{
                margin-inline: 20px;
                padding-inline: 20px;
                color: variable.$color-dark;
            }
        }
    }

    &-illustration {
        height: 500px;
        margin-top: 16px;
        overflow-y: scroll;
        border-radius: 5px;
        position: relative;

        // To hide the scrollbar

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        
        
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        img {
            transition: filter 0.2s ease;
        }

        .scroll-me-text {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 2rem;
            font-weight: bold;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }

        &.scroll-me:hover {
            img {
                filter: blur(2px) brightness(35%);
            }

            .scroll-me-text {
                display: flex;
            }
        }
    }
}