@use "sass:map";
@use "../utilities/index" as variable;

.scs{
    &-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-top: 60px;

        h2 {
            margin: 0px;
            text-align: center;
        }

        p, li {
            font-size: 1.125rem;
        }

        @media (min-width: variable.$break-point-large) {
            grid-template-columns: 1fr 1fr;
        }
    }

    //childeren of the grid container

    &-item{
        background-color: map.get(variable.$color-dark-theme, "dark-4");
        border-radius: 10px;
        padding: 25px;
    }
}