@use "sass:map";
@use "../utilities/index" as variable;

.scs{
    &-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-top: 60px;

        h2 {
            text-align: center;
        }

        p, li {
            font-size: 1.125rem;
        }

        @media (min-width: variable.$break-point-large) {
            grid-template-columns: 1fr 1fr;
        }
    }

    //childeren of the grid container

    &-item{
        li {
            display: flex;
            align-items: center;

            [class^="icon-"] {
                margin-right: 10px;
            }
        }
        @extend %content-background;
    }
}