@use "../utilities/index" as utility;

body {
    background-color: gray;
    margin: 0px;
    font-family: "Space Grotesk", serif;
    color: #ffebd1;
    background-image: url(../image/stars.jpg);
    background-position: center;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
    
    @media (max-width: utility.$break-point-medium) {
        max-width: 564px;
    }

    @media (min-width: utility.$break-point-medium) {
        width: 822px;
    }

    @media (min-width: utility.$break-point-large) {
        width: 1138px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}