@use "sass:map";
@use "../utilities/index" as variable;

body {
    background-color: gray;
    margin: 0px;
    font-family: "Space Grotesk", serif;
    color: map.get(variable.$color-light-theme, "light-3");
    background-image: url(../image/stars.jpg);
    background-position: center;
    background-attachment: fixed;
    letter-spacing: 0.4px;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
    
    @media (max-width: variable.$break-point-medium) {
        max-width: 564px;
    }

    @media (min-width: variable.$break-point-medium) {
        width: 822px;
    }

    @media (min-width: variable.$break-point-large) {
        width: 1138px;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &[class="link"] {
        &:hover {
            text-decoration: underline;
        }
    }
}

li {
    list-style: none;
}

ul {
    padding: 0px;
    margin-block-end: 0px;
}

// Consistant headers for all pages

header {
    h1 {
        margin: 0px;
        padding-top: 60px;
    }
}

