@use "sass:color";
@use "sass:map";
@use "../utilities/index" as variable;

.section-header {
    h1, h2 {
        margin: 0px;
        padding-block: 60px;
        font-size: 1.75rem;
    }
}

.top-inset-item {
    margin-top: 0px;
}

footer {
    p {
        text-align: center;
    }
}

p {
    line-height: 30px;
}

@include variable.text-code-color();