@use "sass:color";
@use "sass:map";
@use "../utilities/index" as variable;

.text {
    &-html5 {
        color: map.get(variable.$code-language-color, "html5");
        font-weight: bold;
    }

    &-c-sharp {
        color: map.get(variable.$code-language-color, "c-sharp");
        font-weight: bold;
    }
}

.section-header {
    h1 {
        margin: 0px;
        padding-block: 60px;

        @extend %text-background-base;
    }
}

.top-inset-item {
    margin-top: 0px;
}

footer {
    p {
        text-align: center;
    }
}

p {
    line-height: 30px;
}